name: Publish NuGet Package

on:
  push:
    tags:
      - 'v*.*.*'  # فقط وقتی تگ با فرمت v1.0.0 یا v2.3.4 زده بشه اجرا میشه

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'  # یا 10.0.x اگر می‌خوای

      - name: Extract version from tag
        id: get_version
        run: echo "PACKAGE_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build src/KSDbMigrator/KSDbMigrator.csproj --configuration Release --no-restore

      - name: Pack NuGet
        run: dotnet pack src/KSDbMigrator/KSDbMigrator.csproj --configuration Release -p:PackageVersion=${{ env.PACKAGE_VERSION }} --no-build -o out

      - name: Push to NuGet.org
        run: dotnet nuget push out/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
